---
import "@/styles/globals.css";
import "@fontsource/geist-sans/400.css";
import "@fontsource/geist-sans/500.css";
import "@fontsource/geist-sans/600.css";
import "@fontsource/geist-sans/700.css";
import "@fontsource-variable/jetbrains-mono";

interface Props {
  title?: string;
  class?: string;
}

const { title, class: className } = Astro.props;
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} - Scizor` : "Scizor"}</title>
  </head>
  <body class={className}>
    <slot />
  </body>
</html>
